*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.landing-bg {
	background-image: url(./images/BG-landing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.logo-font{
	font-family: 'Sedgwick Ave Display', cursive;
	color: #3BEC0F !important;
}

.bg-opacity{
	background-color: rgba(0, 0, 0, .5);
}

.font-all{
	font-family: 'Orbitron', sans-serif !important;
	color: #3BEC0F !important;
}

.btn-send{
	color: black;
	background-color: #3BEC0F;
	border:  black solid 2px;
}

.bg-burger{
	background-color: #3BEC0F;
}

.bg-opacity-scrolled{
	background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 575.98px) {
	.h1-sm{
		font-size: 1rem;
	}
	.h2-sm{
		font-size: .9rem;
	}
	.h3-sm{
		font-size: .7rem;
	}
	.h4-sm{
		font-size: .6rem;
	}
}

// Small devices (landscape phones, 576px and up)
/*@media (min-width: 576px) and (max-width: 767.98px) {
	
}*/

// Medium devices (tablets, 768px and up)
/*@media (min-width: 768px) and (max-width: 991.98px) { ... }*/

// Large devices (desktops, 992px and up)
/*@media (min-width: 992px) and (max-width: 1199.98px) { ... }*/

// Extra large devices (large desktops, 1200px and up)
/*@media (min-width: 1200px) { ... }*/